<form data-ng-submit="save()" class="noMargin" name="editFieldsOfInterestForm"
    data-ng-class="{'state-wait': processing }" novalidate>
    <div class="modal-header">
        <h3 class="modal-title col-md-9">Edit Fields of Interest</h3>
        <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-label="Close"
            id="close-edit-widget-form-btn">
            <div aria-hidden="true" class="version-button">+</div>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
                <label class="control-label" for="formGroupTitle">Title (leave blank for no title)</label>
                <input class="form-control" type="text" id="formGroupTitle" data-ng-model="config.title" />
            </div>
            <div class="form-group">
                <label class="control-label" for="rowStyle">Row Style</label>
                <input class="form-control" type="text" id="rowStyle" data-ng-model="config.rows[0].style" />
            </div>
            <hr>
            <div>
                <div class="row margin-bottom-md">
                    <div class="col-md-4">
                        <select id="fieldSelect" class="form-control" data-ng-model="newField"
                            data-ng-options="field.name as field.title for field in fieldsArray | filter: fieldNotExists | orderBy: 'title'">
                            <option value="">Select a field</option>
                        </select>
                    </div>
                    <div class="col-md-4 padding-left-0">
                        <button type="button" class="btn btn-primary" data-ng-click="addField(newField)"
                            data-ng-disabled="!newField" id="addfield-edit-formgroup-btn">Add</button>
                    </div>
                </div>
                <div class="row row-widget-configuration padding-top-md padding-bottom-md small">
                    <div class="col-lg-12">
                        <span class="margin-right-md">Layout</span>
                        <span class="widget-icon columns column-12" data-ng-click="changeStructure()"></span>
                        <span class="widget-icon columns column-6" data-ng-click="changeStructure(2)"></span>
                        <span class="widget-icon columns column-3" data-ng-click="changeStructure(3)"></span>
                        <div class="pull-right" data-ng-show="widget.name === 'fieldsOfInterest'">
                            <div class="pull-right margin-right-md" data-ng-show="widget.name === 'fieldsOfInterest'">
                                <div class="checkbox margin-top-0">
                                    <label for="allReadOnly">
                                        <input type="checkbox" id="allReadOnly" data-ng-model="config.allReadOnly"
                                            data-ng-change="applyDefaults('readOnly', config.allReadOnly)" />All Read-Only
                                        <span
                                            data-uib-tooltip="If checked, all fields will display as read-only regardless of permissions."
                                            data-tooltip-append-to-body="true"><i
                                                class="icon icon-information font-Size-13"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right margin-right-md" data-ng-show="widget.name === 'fieldsOfInterest'">
                                <div class="checkbox margin-top-0">
                                    <label for="allHighlightMode">
                                        <input type="checkbox" id="allHighlightMode" data-ng-model="config.allHighlightMode"
                                            data-ng-change="applyDefaults('highlightMode', config.allHighlightMode)" />All
                                        Inline
                                        <span
                                            data-uib-tooltip="If not checked, all fields will display an edit button instead of being click-to-edit."
                                            data-tooltip-append-to-body="true"><i
                                                class="icon icon-information font-Size-13"></i></span>
                                    </label>
                                </div>
                            </div>
                            <!-- / -->
                            <div class="pull-right margin-right-md" data-ng-show="widget.name === 'fieldsOfInterest'">
                                <div class="checkbox margin-top-0">
                                    <label for="hideEmptyFields">
                                        <input type="checkbox" id="hideEmptyFields" data-ng-model="config.hideEmptyFieldsCheckbox"
                                             />Show Field Visibility Checkbox
                                        <span
                                            data-uib-tooltip="To show the 'Hide Empty Fields' Checkbox in detailed view of the module"
                                            data-tooltip-append-to-body="true"><i
                                                class="icon icon-information font-Size-13"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-lg display-block" data-ng-model="config.rows[0].columns">
                    <div id="template-column-{{$index}}" data-column="{{$index}}"
                        data-ng-repeat="column in config.rows[0].columns" data-ng-class="column.style">
                        <div class="padding-bottom-sm">
                            <input class="form-control" type="text" id="formGroupTitle" placeholder="Column Title"
                                data-ng-model="column.columnTitle" />
                        </div>
                        <ul id="template-column-fields-{{$index}}" data-as-sortable data-ng-model="column.fields"
                            class="widgets-container">
                            <li id="template-column-field-{{$index}}" data-ng-repeat="field in column.fields"
                                data-as-sortable-item>
                                <div data-as-sortable-item-handle>
                                    <div
                                        class="panel-heading panel-default padding-right-0 widget-panel small text-capitalize">
                                        <span>
                                            <i class="icon icon-more padding-right-md"></i>{{ fields[field.name].title }}
                                        </span>
                                        <div class="remove-widget-container fields-list">
                                            <a type="button" class="btn btn-sm btn-default pull-right margin-right-sm"
                                                data-ng-click="removeField($index, column)">
                                                <span class="icon icon-close text-danger"></span>
                                            </a>
                                            <a type="button" class="btn btn-sm btn-default pull-right margin-right-sm"
                                                data-ng-click="$parent.expanded = !$parent.expanded"
                                                data-ng-show=" fields[field.name].type === 'textarea' || fields[field.name].type === 'object' || widget.name === 'fieldsOfInterest' && fields[field.name].editable">
                                                <span class="fa"
                                                    data-ng-class="{'fa-caret-up': $parent.expanded, 'fa-caret-down': !$parent.expanded}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sortable-dropdown"
                                    data-ng-show="expanded && (fields[field.name].type === 'richtext' || fields[field.name].formType === 'textarea' || widget.name === 'fieldsOfInterest' && fields[field.name].editable)">
                                    <div class="row padding-bottom-sm"
                                        data-ng-show="(fields[field.name].type === 'object' || fields[field.name].type === 'textarea' )">
                                        <div class="col-sm-3">
                                            <div class="pull-left expanded-lbl margin-right-md small">Widget Height
                                                <span
                                                    data-uib-tooltip="Set JSON Editor Height (In px).Minimum value is 250px and Max value is 800px"
                                                    data-tooltip-append-to-body="true"><i
                                                        class="icon icon-information font-Size-13"></i></span>
                                            </div>
                                            <input
                                                class="pull-left padding-right-sm form-control form-control-sm widget-height-input"
                                                type="number" id="widegetheight"
                                                data-ng-model="field.renderWidgetHeight" min="250" max="800"
                                                style="position: absolute;" data-cs-focus />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-sm"
                                        data-ng-show="widget.name === 'fieldsOfInterest' && fields[field.name].editable">
                                        <div class="col-sm-12">
                                            <div class="pull-left expanded-lbl margin-right-md small">Read-Only
                                                <span
                                                    data-uib-tooltip="If checked, the field will display as read-only regardless of permissions."
                                                    data-tooltip-append-to-body="true"><i
                                                        class="icon icon-information font-Size-13"></i></span>
                                            </div>
                                            <input type="checkbox" id="read-only-checkbox-edit-form-group"
                                                class="margin-top-sm" data-ng-model="field.readOnly"
                                                data-ng-change="$parent.$parent.$parent.config.allReadOnly = !field.readOnly ? false : $parent.$parent.$parent.config.allReadOnly" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-sm"
                                        data-ng-show="widget.name === 'fieldsOfInterest' && alwaysUseEdit.indexOf(fields[field.name].type) === -1 && !field.readOnly">
                                        <div class="col-sm-12">
                                            <div class="pull-left expanded-lbl margin-right-md small">Inline Editor
                                                <span
                                                    data-uib-tooltip="If not checked, the field will display an edit button instead of being click-to-edit."
                                                    data-tooltip-append-to-body="true"><i
                                                        class="icon icon-information font-Size-13"></i></span>
                                            </div>
                                            <input type="checkbox" id="highlightMode" class="margin-top-sm"
                                                data-ng-model="field.highlightMode"
                                                data-ng-change="$parent.$parent.$parent.config.allHighlightMode = !field.highlightMode ? false : $parent.$parent.$parent.config.allHighlightMode" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="showAllRemainingFields">
                    <span class="custom-toggle-btn pull-left display-block">
                        <span class="custom-toggle-btn-status margin-top-md font-size-12 text-left">Show All Remaining Fields</span>
                        <span
                            data-uib-tooltip="Adds a column named 'Others' that includes all the remaining fields"
                            data-tooltip-append-to-body="true"><i class="icon icon-information font-size-12"></i></span>
                        <label class="switch switch-pill switch-label switch-success padding-top-md">
                            <input type="checkbox" class="switch-input" name="IncludeAll"
                                id="IncludeAll" data-ng-model="config.includeAll"
                                data-ng-change="$ctrl.changeActiveStatus()">
                            <span class="switch-slider" data-checked="Yes"
                                data-unchecked="No"></span>
                        </label>
                    </span>
                </div>
                <hr data-ng-if="!config.includeAll" class="visibility-hidden">

                <div data-ng-if="config.includeAll">
                    <hr class="visibility-hidden">

                    <div>
                        <span class="custom-toggle-btn-status margin-top-md font-size-12 text-left">Exclude Following Fields</span>
                        <span
                        data-uib-tooltip="Select fields to exclude from the 'Others' column"
                        data-tooltip-append-to-body="true"><i class="icon icon-information font-size-12"></i></span>
                    </div>
                    <div class="cs-select">
                        <ui-select name="excludeFieldsArray" data-ng-model="config.excludeFieldsArray" multiple
                            class="custom-multi-select" tagging="undefined" tagging-label="false">
                            <ui-select-match placeholder="Fields To Exclude">{{$item.title}}</ui-select-match>
                            <ui-select-choices repeat="option in fieldsArray | filter: fieldNotExists | filter: alreadyExcludedFields | filter: $select.search | orderBy: 'title'" refresh-delay="0" ng-show="($select.items.length >= 0) || ">
                                <div ng-bind="option.title"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="fa fa-sort-desc"></span>
                        <div>
                            <hr class="visibility-hidden">
                            <hr class="visibility-hidden">
                            <hr class="visibility-hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit-widget-save" type="submit" class="btn btn-sm btn-primary"><i
                class="icon icon-check margin-right-sm"></i>Save</button>
        <button id="edit-widget-cancel" type="button" class="btn btn-sm btn-default" data-ng-click="cancel()"><i
                class="icon icon-close margin-right-sm"></i>Close</button>
    </div>
</form>