<div class="widget widget-container ">
    <div class="display-flex-space-between margin-chart">
        <div class="padding-right-0 padding-left-0 widget-dashboard-title-width">
            <h5 class="custom-label-size margin-bottom-0 section-border padding-left-md">{{ config.title }}</h5>
        </div>
        <div class="padding-right-0 padding-left-0"
            data-ng-class="(page === 'dashboard' || page === 'reporting') ? 'widget-dashboard-actions-width' : 'widget-actions-width'">
            <span class="fa btn widget-action-icon btn-sm pull-right" data-ng-click="collapsed = !collapsed"
                data-ng-class="{'fa-caret-up': !collapsed, 'fa-caret-down': collapsed}"></span>
        </div>
    </div>


    <div data-ng-hide="collapsed">

        <div class="padding-bottom-lg">
            <div class="row section-widget edit-form-widget">
                <cs-spinner data-ng-hide="initialized" data-show-background="true"></cs-spinner>
                <div data-ng-if="config.hideEmptyFieldsCheckbox" class="display-block margin-left-md padding-top-md padding-left-sm">
                    <div class="checkbox margin-top-0">
                        <label for="hideEmptyFields">
                            <input class="margin-top-0 "  type="checkbox" id="hideEmptyFields" data-ng-model="config.hideEmptyFields" data-ng-change="init()"/>
                            <span class="control-label" style="margin-top: -3px;"> Hide Empty Fields </span>
                            <span
                                data-uib-tooltip="If checked all empty fields will be hidden."
                                data-tooltip-append-to-body="true"><i
                                    class="icon icon-information font-Size-13"></i></span>
                        </label>
                    </div>
                </div>
                <div class="row" data-ng-repeat="row in rows" data-ng-show="initialized" data-ng-class="{'no-widget-title': !config.title && $first}">
                  <div data-ng-repeat="column in ::row.columns" data-ng-class="::column.style" class="{{row.style}}">
                    <h6 class="ng-binding text-underline" style="margin: 0 0 1em;">{{column.columnTitle}}</h6>
                    <div data-ng-repeat="field in ::column.fields">
                      <div data-cs-editable-field data-field="field.fieldData" data-mode="row.mode" data-field-options="field.options" submit="submitField" data-change-method="notifyFieldChange" data-disabled="!field.fieldData.editable"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>